<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

<div class="body">
	<clock></clock>
  <date></date>
  <name></name>
	<google *ngIf="showGoogle"></google>

</div>

<!-- Modal -->
<div class="settings" on-click="modalClose()">
		<a href="#open-modal"><img src="../assets/img/settings.png"
			class="settings" alt="Settings" /></a>
	</div>

<div id="open-modal" class="modal-window" >
	<div>
		<a href="#modal-close" title="Close" class="modal-close" #closeModal>Close</a>
		<h1>Settings</h1>
		<div class="modal-content">
			<!-- Google Search switch -->
			<div class="onoffswitch modal-content">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch1">
				<label class="onoffswitch-label" for="switch1" (click)="toggleGoogle()"></label>
			</div>


			<br />
			<!-- Switch2 -->
			<div class="onoffswitch modal-content">
				<input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="switch2">
				<label class="onoffswitch-label" for="switch2"></label>
			</div>
      <div class="username">
        <input [(ngModel)]="username">
        <button (click)="setName(username)">save name</button>
      </div>
		</div>
	</div>
</div>
<!-- /Modal -->



