<!-- Modal -->

<div class="settings" on-click="modalClose()">
		<a href="#open-modal"><img src="../assets/img/settings.png"
			class="settings" alt="Settings" /></a>
	</div>

<div id="open-modal" class="modal-window" >
	<div>
		<a href="#modal-close" title="Close" class="modal-close" #closeModal>Close</a>
		<h1>Settings</h1>
		<div class="modal-content">
			<!-- Google Search switch -->
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch1">
					<label class="onoffswitch-label" for="switch1"></label>
			</div>
			<div class="modal-text">
				<h3>hide search</h3>
			</div>

			<br />
			<!-- Switch2 -->
			<div>

			</div>
		</div>
	</div>
</div>
<!-- /Modal -->
